/* Footer code */

.footer {
    height: 155px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer * {
    margin-top: auto;
    margin-bottom: auto;
}

.footer-contact {
    height: auto;
    text-align: left;
}

.footer-contact-title {
    font-size: 20px;
}

.footer-contact-item {
    margin-left: 14px;
}

.footer-map-container {
    width: 300px;
    height: 100%;
    margin-left: auto;
}

.footer-map {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-size: 18px;
    text-align: right;
}