/* Content-modifying classes and At-rules */

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@keyframes siteDarkening {
    from { background: rgba(0,0,0,0); }
    to { background: rgba(0,0,0,0.75); }
}

@keyframes showMobileNav {
    from {right: 0}
    to {right: 240px;}
}

@keyframes fadeAppear {
    from { color:rgba(255, 255, 255, 0) }
    to { color:rgba(255, 255, 255, 1) }
}

@keyframes fadeDisappear {
    from { color:rgba(255, 255, 255, 1) }
    to { color:rgba(255, 255, 255, 0) }
}

.filter-white {
    filter: invert(99%) sepia(17%) saturate(228%) hue-rotate(197deg) brightness(112%) contrast(100%);
}

.filter-blue {
    filter: invert(18%) sepia(91%) saturate(6094%) hue-rotate(243deg) brightness(68%) contrast(124%);
}

.filter-facebook {
	filter: invert(28%) sepia(97%) saturate(525%) hue-rotate(184deg) brightness(87%) contrast(78%);
}

.filter-whatsapp {
    filter: invert(55%) sepia(23%) saturate(5086%) hue-rotate(99deg) brightness(99%) contrast(90%);
}

.overlay-show {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.usoverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:
    rgba(0,0,0,0.75);
    z-index: 99;
    width: 100%;
}

:root {
    --color_green: rgb(20, 130, 20);
    --main_color: rgb(20, 20, 20);
}

/* Content code. Contains banner and site segments styling */

.content {
    width: 100%;
}

.site-banner {
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    background-color: gray;
    background-image: url('./graphics/banner-bg1.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.site-banner .usoverlay {
    background-color: rgba(0,0,0,0.4);
}

.banner-text {
    z-index: 2;
}

.banner-img, .banner-img img {
    z-index: 2;
    width: auto;
    min-height: inherit;
}

.banner-title {
    font-size: 60px;
}

.banner-subtitle {
    font-size: 40px;
}

/* Info text Code */

.info {
    margin: auto;
    text-align: justify;
}

.site-description {
    margin-bottom: 70px;
}

.info-title {
    font-size: 56px;
    text-align: center;
}

.info-subtitle {
    font-size: 36px;
    text-align: center;
}

.info-text {
    line-height: 28px;
    font-size: 18px;
    width: 90%;
    margin: auto;
}

.linear-gradient-left {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, var(--main_color) 45%, rgba(0,0,0,0) 65%, rgba(0,0,0,0));
    display: flex;
    flex-direction: row;
}

.linear-gradient-left .info-text {
    margin-left: 20px;
    width: 40%;
    text-align: left;
    font-size: 20px;
}

.linear-gradient-right {
    width: inherit;
    height: inherit;
    background: linear-gradient(to left, var(--main_color) 45%, rgba(0,0,0,0) 65%, rgba(0,0,0,0));
    display: flex;
    flex-direction: row;
}

.linear-gradient-right .info-text {
    margin-right: 20px;
    width: 40%;
    text-align: right;
    font-size: 20px;
}

.linear-info {
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: white;
}

/* Social media buttons */

.media {
    position: fixed;
    bottom: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.media img {
    width: inherit;
    height: inherit;
    z-index: 11;
}

.facebook {
    right: 180px;
}

.instagram {
    right: 100px;
}

.whatsapp {
    right: 20px;
}

.media-bg {
    position: absolute;
    width: 84%;
    height: 84%;
    border-radius: 40px;
    background-color: white;
    z-index: 10;
}

.facebook .media-bg {
	top: 6px;
}

.instagram .media-bg {
	position: absolute;
    width: 84%;
    height: 84%;
    border-radius: 12px;
    background-color: white;
}

.scroll-up {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(70, 70, 220);
    border-radius: 1px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    display: flex;
    cursor: pointer;
}

.scroll-up img {
    width: 30px;
    margin: auto;
}

/* General styling */

section > .usoverlay {
    position: absolute;
    z-index: 1;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    padding-top: 60px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}
